<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <h1>Add a new Category</h1>
    <form action="/add/category" method="POST">
        <div>
            <label for="nameInput">Name</label>
            <input type="text" name="name" id="nameInput">
        </div>
        <input type="submit" value="Add">
        <a href="/">Go Home</a>
    </form>
</body>
</html>