<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vendor</title>
</head>
<body>
    <h1>Add a new Vendor</h1>
    <form action="/add/vendor" method="POST">
        <div>
            <label for="idInput">ID</label>
            <input type="text" name="id" id="idInput">
        </div>
        <div>
            <label for="nameInput">Name</label>
            <input type="text" name="name" id="nameInput">
        </div>
        <div>
            <label for="emailInput">Email</label>
            <input type="email" name="email" id="emailInput">
        </div>
        <div>
            <label for="phoneInput">Phone</label>
            <input type="tel" name="phone" id="phoneInput">
        </div>
        <input type="submit" value="Add">
        <input type="reset" value="Reset">
        <a href="/">Go Home</a>
    </form>
</body>
</html>