@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-color: #b0bec4;
    --secondary-color: #cbd2d5;
    --tertiary-color: #dee5e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}


body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;


}

header h1{
    user-select: none;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: auto;
    width: 40px;
}

header .addItem, header .searchItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-right: 40px;
    transition: background-color 0.3s ease-out, transform 0.2s ease-out;
    user-select: none;
}

header .addItem:hover, header .searchItem:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

header .addItem:active {
    transform: translateY(2px);
}

header .iconMasterDiv {
    position: relative;
}

ul {
    font-family: "Open Sans", sans-serif;
    list-style: none;
    font-size: .9rem;
}

header li {
    text-align: center;
    padding: .75rem;
    user-select: none;
}

header li:hover{
    background-color: var(--primary-color);
}

.addLinks a {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 2rem;
  padding: 10px; /* optional for click comfort */
  text-decoration: none;
  color: inherit;
}



header .addDropDownMenu {
    opacity: 0%;
    
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: var(--secondary-color);
    width: 7rem;
    height: fit-content;
    box-shadow: -2px 4px 21px 12px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: -2px 4px 21px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -2px 4px 21px 12px rgba(0, 0, 0, 0.15);

    transition: opacity 0.1s ease-out;
}

section {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 4rem 0 4rem;
}

main {
    display: flex;
    justify-content: center;
}


table.inventoryTable {
    margin: 2rem;
    overflow: scroll;
    align-self: flex-start;
    height: auto;
    margin: 3rem 4rem;
}

th {
    background-color: var(--primary-color);
    /* border: 1px solid black; */
}

.inventoryTable td,
.inventoryTable th {
    width: 13rem;
    /* sets column width */
    height: 3rem;
    /* sets row height */
    max-width: 13rem;
    max-height: 3rem;
    text-align: center;
}


table tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

table tr:nth-child(even) {
    background-color: var(--tertiary-color);
}

.itemDetails {
    border-radius: 5px;
    height: 2rem;
    width: 4rem;
}

a.itemDetails{
    text-decoration: underline;
    /* cursor: ; */
}